/*//////////////loading ///////////////////////////////////*/
#loadpage_parts1
{
width:100%;
height:25%;
z-index:3000;
background-color:#232f3e;
position:fixed;
top:0%;
}
#loadpage_parts2
{
width:100%;
height:25%;
z-index:3000;
background-color:#232f3e;
position:fixed;
top:24%;
}
#loadpage_parts3
{
width:100%;
height:25%;
z-index:3000;
background-color:#232f3e;
position:fixed;
top:49%;
}
#loadpage_parts4
{
width:100%;
height:26%;
z-index:3000;
background-color:#232f3e;
position:fixed;
top:74%;
}
